.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 22rem;
  grid-gap: 2rem;
  overflow: hidden;
  justify-content: center;
}

.posts .box {
  background: black;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.posts img {
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
  max-width: 100%;
}
